.logo{
    width: 80px;
}
header{
display: flex;
justify-content: space-between;
background-color: white;
}
.headerleft{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-left: 5px;

}
.headerright{
    display: flex;
    justify-items: center;
    gap: 10px;
    margin-right: 25px;
    gap: 3px; 
}
.button{
    background-color: #541554;
    color: aliceblue;
 padding: 5px 15px 5px 15px;
 margin: 5px;  
 border-radius: 3px; 
}
.buttona{
    background-color: white;
    padding: 5px 10px 5px 10px;
    border: white;
}
.bodyleft{
    margin: 30px 0px 0px 20px;


}

.head2{
    background-color: #F7F0E7;
}
.heading{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 54px;
}
.mainpara{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px

}
.img{
padding: 5px ;
margin: 20px 0px 0px 0px;
width: 500px;
} 
.button3{
    background-color: #541554;
    padding: 12px 30px 12px 30px;
    border-radius: 2px;
    color: white;
} 
.button4{
    padding: 12px 30px 12px 30px;
    border: 2px solid #541554;
    border-radius: 2px;
    color: #541554;
} 
.buttons{
    gap: 4px;
}
